ERMS-SVK-ARENDE.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Namn:		ERMS-SVK-ARENDE.xsd
Version:	2.0
Ändrad:		2026-03-10
Ändrad av:	Henrik Vitalis
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="https://earkiv.svenskakyrkan.se/schemas/ERMS-SVK-ARENDE/v2"
	xmlns:erms="https://DILCIS.eu/XML/ERMS"
	xmlns:elm = "https://earkiv.svenskakyrkan.se/schemas/ERMS-SVK/v2"
	targetNamespace="https://earkiv.svenskakyrkan.se/schemas/ERMS-SVK-ARENDE/v2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	
	<xs:import namespace="https://DILCIS.eu/XML/ERMS" schemaLocation="https://citserms.dilcis.eu/schema/ERMS_v3.xsd"/>
	<xs:import namespace="https://earkiv.svenskakyrkan.se/schemas/ERMS-SVK/v2" schemaLocation="https://earkiv.svenskakyrkan.se/schemas/ERMS-SVK/v2/ERMS-SVK-element.xsd"/>
	
	<xs:element name="ermsSvkArende">
		<xs:annotation>
			<xs:documentation xml:lang="sv">Elementet innehåller de anpassningar av ERMS som Svenska kyrkan använder för diarieärenden.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element name="ermsSvkAggregation">
					<xs:annotation>
						<xs:documentation>Anpassningar av elementet aggregation i ERMS</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="elm:initiative" minOccurs="0"/>
							<xs:element ref="elm:relatedObjects" minOccurs="0"/>
							<xs:element ref="elm:svkNotes" minOccurs="0"/>
							<xs:element ref="elm:auditLogEvents" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ermsSvkRecord">
					<xs:annotation>
						<xs:documentation>Anpassningar av elementet record i ERMS</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="elm:relatedObjects" minOccurs="0"/>
							<xs:element ref="elm:svkNotes" minOccurs="0"/>
							<xs:element ref="elm:contractInfo" minOccurs="0"/>
							<xs:element ref="elm:workflows" minOccurs="0"/>
							<xs:element ref="elm:boardMeetingInformation" minOccurs="0"/>
							<xs:element ref="elm:svkAppendix" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="elm:auditLogEvents" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:attribute name="ermsSvkArendeVersion" type="xs:decimal" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>




